 body {
    width:100%;
    height: 100%;
 }

 .main-view {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--vscode-editor-background);
 }

 .main-view > div {
    border: 1px solid var(--vscode-tree-tableColumnsBorder);
 }
         
 .component-list {
   padding: 12px;
   font-size: var(--vscode-font-size);
   list-style-type: none;
   margin: 0;
   text-align: start;
   color: var(--vscode-input-foreground);
   /* width: 100%; */
   height: 100%;
 }

.component-list li {
   padding: 5px;
    /* border-top: 1px solid #ccc;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer; */
}

.list-group li:first-child {
    border-top: 0;
}

.component-list li:hover {
   background: var(--vscode-list-hoverBackground);
   cursor: pointer;
}

table, th, td {
  border: 1px solid var(--vscode-tree-tableColumnsBorder);
  border-collapse: collapse;
  color: var(--vscode-input-foreground);
  padding-left:10px;
  background-color: var(--vscode-editor-background);
}

table, th, td > input {
   background-color: var(--vscode-input-background);
}

.cmp-category {
   width: 100%;
   height: 60%;
   display: flex;
   flex-direction: row;
}
.cmp-category > div {
   flex:1;
}
#config-section{
   width: 100%;
   height: 40%;
   overflow: scroll;
   border: 1px solid var(--vscode-tree-tableColumnsBorder);
}
#config-section table {
   width: 100%;
}

.drag-over-allowed {
   position: relative !important;
   z-index: 1000000000000000000;
   outline: dashed 2px blue;
   outline-offset: 3px;
}
.drag-over-notallowed {
   outline: dashed 2px red;
   outline-offset: 5px;
   cursor: sw-resize;
}

#content-frame {
   flex: 1;
   margin: 5px;
}
#component-section{
   width: 30%;
}
#mainCategorySec{
   border-right: 1px solid var(--vscode-tree-tableColumnsBorder);
}
.hide{
   display: none;
}
/* .help {
   color:#fff;
   background-color:#feb22a;
   width:12px;
   height:12px;
   display:inline-block;
   border-radius:100%;
   font-size:10px;
   text-align:center;
   text-decoration:none;
   -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
   box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}
help::after{
   content: '?';
} */
.config-label {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.help-icon {
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background-image: url('../../../media/images/icons-help.png');
   cursor: pointer;
   background-size: cover;
   visibility: hidden;
}

table td:first-child:hover .help-icon{
   visibility: visible;
}  

.overlay{
   position: absolute;
   width: auto;
   height: auto;
   border: 1px solid var(--vscode-tree-tableColumnsBorder);
   background-color: white;
   color:var(--vscode-input-foreground);
   z-index: 10000000000000000;
   padding: 20px;
}
